@(title: String)(content: Html)
<!DOCTYPE html>

<html>
<head>
    <title>@title</title>
    <link rel="shortcut icon" type="image/png" href='@routes.Assets.at("images/favicon.png")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("bootstrap-2.0.2/css/bootstrap.min.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("fullcalendar-1.5.3/fullcalendar/fullcalendar.css")'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>
    <script src='@routes.Assets.at("bootstrap-2.0.2/js/bootstrap.min.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("fullcalendar-1.5.3/fullcalendar/fullcalendar.min.js")' type="text/javascript"></script>
    <script src='@routes.Assets.at("javascripts/renderCalendar.js")' type="text/javascript"></script>


</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="@routes.Application.calendar()">FullCalendar</a>

            <ul class="nav pull-right">
                <li >
                    <a href="@routes.Application.list()">
                        <i class="icon-list icon-white"></i> Event's list</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    @content
</div>
</body>
</html>
